.App {
 padding: 50px;
}

.App h2 {
 text-align: center;
}

.App main {
 display: grid;
 grid-template-columns: 1fr 1fr;
}

.App section {
 background-color: #272a2b;
 padding: 10px;
 max-width: 300px;
 border-radius: 5px;
 margin: 0px 30px;
}
