.App main {
 background-color: #1f2123;
 color: white;
 padding: 50px 50px 0 50px;
 border-radius: 5px;
 margin: auto;
 max-width: 1200px;
}

.App .capitalize {
 text-transform: capitalize;
}

.App footer {
 margin: 150px 0 30px 0;
 color: white;
 background-color: #272a2b;
 padding: 20px;
 display: grid;
 grid-template-columns: 1fr 1fr;
}

.App header {
 margin-bottom: 50px;
 padding: 10px;
 font-size: 18px;
 color: red;
 background-color: #300000;
}

.App h1 {
 font-size: 50px;
 margin-bottom: 5px;
}

.App h2 {
 margin-top: 20px;
 font-size: 35px;
}

.App h2 small {
 font-size: 25px;
 font-weight: 400;
}

.App :is(h3, h4) {
 font-size: 30px;
}

.App h3 {
 margin-top: 0;
}

.App li {
 margin: 10px 0px;
}

.App li:first-letter {
 text-transform: capitalize;
}

.App main section {
 display: grid;
 grid-template-columns: 1fr 1fr;
 margin: 50px 0 auto;
}

.App .opacity-less {
 opacity: 0.8;
}

.App p {
 font-size: 18px;
}

.App ul {
 max-height: 500px;
 overflow-y: auto;
 list-style: none;
 font-size: 20px;
 padding-left: 0px;
 text-transform: lowercase;
}
