.App header {
 margin-bottom: 50px;
 color: red;
 text-align: center;
}

.App main {
 color: white;
 padding: 50px 50px 0 50px;
 background-color: #272a2b;
 border-radius: 5px;
 margin: auto;
 max-width: 1200px;
}

.App .capitalize {
 text-transform: capitalize;
}

.App .disclaimer {
 display: flex;
 float: right;
}

.App footer {
 margin: 150px 0 30px 0;
 color: white;
 background-color: #272a2b;
 padding: 20px;
 display: grid;
 grid-template-columns: 1fr 1fr;
}

.App h2 {
 margin-top: 20px;
 font-size: 30px;
}

.App li {
 margin: 10px 0px;
}

.App li:first-letter {
 text-transform: capitalize;
}

.App main section {
 display: grid;
 grid-template-columns: 1fr 1fr;
 justify-content: space-between;
 margin-top: 50px;
 padding: 10px 0;
 border-radius: 5px;
}

.App ul {
 max-height: 500px;
 overflow-y: auto;
 list-style: none;
 font-size: 20px;
 padding-left: 0px;
 text-transform: lowercase;
}
