.Search input {
 font-size: 20px;
 padding: 5px 15px;
 border: 1px solid #b7b5b4;
 border-radius: 5px;
 background-color: black;
 transition: 200ms all ease-in-out;
}

.Search input:first-of-type {
 width: 600px;
 color: white;
 margin-right: 5px;
}

.Search input:nth-of-type(2) {
 color: var(--accent-2);
}

.Search input:nth-of-type(2):hover {
 cursor: pointer;
 border-color: var(--accent-2);
}
