.Search input {
 font-size: 20px;
 padding: 5px 15px;
 border: 2px solid white;
 border-radius: 5px;
 background-color: black;
 color: white;
 transition: 200ms all ease-in-out;
}

.Search input:first-of-type {
 width: 600px;
 margin-right: 5px;
}

.Search input:nth-of-type(2):hover {
 cursor: pointer;
 color: #8e0413;
}
