.Search input {
 font-size: 20px;
 padding: 10px 15px;
 border: 1px solid #b7b5b4;
 border-radius: 5px;
 background-color: black;
 transition: 200ms all ease-in-out;
}

.Search input:first-of-type {
 width: 600px;
 color: white;
 margin-right: 5px;
}

@media (max-width: 950px) {
 .Search input:first-of-type {
  max-width: 400px;
 }
}

@media (max-width: 576px) {
 .Search input {
  font-size: 15px;
 }

 .Search input:first-of-type {
  width: 200px;
  padding: 8px;
 }

 .Search label {
  font-size: 12px;
 }
}
